<div class="grid-100 row controls">
  <div class="grid-30">
    <!-- TODO
      You'll also need to add directives to handle when the user
      selects a new category so that you can refresh the recipes list. -->
    <select ng-model="recipes" ng-options="recipe.category for recipe in recipes">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <!-- TODO Add a directive to this button in order to handle
        when the user clicks to add a new recipe. -->
      <button ng-click="addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row" ng-show="!recipes" class="ng-hide">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div class="grid-100 row addHover" ng-repeat="recipe in recipes" ng-show="recipes">
  <a ng-href="#!/edit/{{ recipe._id }}">
    <div class="grid-70">
      <p>
          {{ recipe.name }}
        <!-- TODO Add binding expressions here in order to
          display information about the recipe. -->
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-href="#!/edit/{{ recipe._id }}" ng-click="editRecipe()">
              <img src="images/edit.svg" height="12px">Edit
          </a>
          <!-- TODO Add a directive to this anchor element so that you can
            delete the recipe when the user clicks on the 'Delete' link. -->
          <a ng-click="deleteRecipe()" class="no-action-link">
              <img src="images/delete.svg" height="12px">Delete
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
